<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

<h2>Answers</h2>
<% @question.answers.each do |answer| %>
<% unless answer.new_record? %>
  <p>
    <strong>Text:</strong>
    <%= answer.text %>
  </p>
  <% end %>
<% end %>

<h2>Add a answer:</h2>
<%= form_for([@question, @answer]) do |f| %>
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit Question', edit_question_path(@question) %> |
<%= link_to 'Back to Questions', questions_path %>