<h1>New Profile</h1>
<p>Update your profile today! And let others see who you are! </p>

<%= form_for :profile do |f| %>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :name%>
  <p>

  <p>
    <%= f.submit %>
  <p>
  <br><br><br>

  <% end %>



