<h1>All Profiles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<%= 'Profiles' %>

  <tbody>
    <% @profiles.each do |profile| %>
     <td>
            <%= profile.name %>
          </td>
      <tr>
        <td><%= link_to profile.name, profile_path(profile) %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>