<h1>New Profile</h1>
<p>Create your profile today! And let others see you!</p>

<%= form_for :profile, url: {action: create} do |f| %>
  <p>
    <%= f.label :Name%><br>
    <%= f.text_field :name%>
  <p>

  <p>
    <%= f.submit %>
  <p>
  <br><br><br>

  <% end %>