<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<h1><title>Twealr</strong></title><h1>

<footer class="site-footer section-spacing">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <!--<p class="scroll-top"><a href="#"><i class="fa fa-chevron-up"></i></a></p>-->
<p>Welcome to Twealr!<p>
<p>Where you can get answers to all of your health questions and help others in turn<p>

<script src="https://apis.google.com/js/client:platform.js" async defer></script>

<%= link_to 'Twealr Question Bank', controller: 'questions' %>

<span id="signinButton">
  <span
    class="g-signin"
    data-callback="signinCallback"
    data-clientid="184313639064-6f8k3iqfv1nu2uql1ij6rp7bnlc3m009.apps.googleusercontent.com"
    data-cookiepolicy="single_host_origin">
  </span>
</span>

<%# link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
<%= link_to 'Sign In', new_user_session_path %>

