<h1>Listing answers</h1>

<table>
  <tr>
    <!--<th>Title</th>-->
    <th>Text</th>
  </tr>

  <% @answers.each do |answer| %>
    <tr>
      <td><%= answer.text %></td>
    <td><%= link_to 'Show', question_path(:question) %></td>
      <td><%= link_to 'Edit', edit_question_path(:question) %></td>
      <td><%= link_to 'Destroy', question_path(:question),
                    method: :delete, data: { confirm: 'Are you sure?' }
      %></td>
    </tr>
  <% end %>
</table>