<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Twealr. Health knowledge at your fingertips. Ask. Share. Interact. Together We Heal">
    <title>Twealr - Together We Heal</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: "all" %>
    <%= javascript_include_tag 'application'%>
</head>
<body id="<%= @bodyId %>">
  <%= yield %>
  <!--site-footer-->
  <footer class="site-footer section-spacing">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <!--<p class="scroll-top"><a href="#"><i class="fa fa-chevron-up"></i></a></p>-->
          <!--<img src="/assets/start/logo.png" data-at2x="/assets/start/logo@2x.png" alt="logo">-->
          <%= image_tag "twealr copy.jpg" %>
    <h3>Health knowledge at your fingertips. Ask. Share. Interact.<br/>Together We Heal.</h3>

    <div>
      <%= link_to 'Sign in', new_user_registration_path %>
    </div>

        <a class="footer-mailto" href="mailto: info@twealr.com" >info@twealr.com</a>
          <!--social-->

          <ul class="social">
            <li class="wow fadeInUp"><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="wow fadeInUp"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="wow fadeInUp"><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          </ul>

          <!--social end-->


          <small class="wow fadeInUp">&copy; Twealr 2014 <%= link_to 'Disclaimer', page_path('disclaimer')%></small> </div>
      </div>
    </div>
  </footer>
  <!--site-footer end-->
</body>
</html>